[submodule "chinook"]
	path = chinook
	url = git@github.com:avalci/Postgres-sql-Chinook-fork.git
[submodule "estados-e-municipios-ibge"]
	path = estados-e-municipios-ibge
	url = git@github.com:avalci/estados-e-municipios-ibge-fork.git
[submodule "db-samples-fork"]
	path = db-samples-fork
	url = git@github.com:avalci/db-samples-fork.git
[submodule "sql-server-samples-fork"]
	path = sql-server-samples-fork
	url = git@github.com:avalci/sql-server-samples-fork.git
[submodule "mongodb-sample-databases-fork"]
	path = mongodb-sample-databases-fork
	url = git@github.com:avalci/mongodb-sample-databases-fork.git
[submodule "northwind_psql"]
	path = northwind_psql
	url = git@github.com:pthom/northwind_psql.git
